/* 全局样式表 */

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}


/* 面包屑样式 */

.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}


/* Card卡片样式 */

.el-card {
    /* 美化阴影 */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}


/* 表格样式 */

.el-table {
    margin-top: 15px;
    font-size: 12px;
}


/* 级联选择器样式 */

.el-cascader-menu {
    height: 300px;
}


/* 分页样式 */

.el-pagination {
    margin-top: 15px;
}